
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8ff; 
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80%;
  background-color: #f4eaff; 
  color: #333;
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
  header h1 {
  margin: 0;
  font-size: 2em;
  text-align: center;
}


nav ul {
  list-style-type: none;
  background-color: #e0d4ff;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto 0 auto;
  width: fit-content;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  width: 80%;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

img:not(.logo) {
  display: block;
  margin: 20px auto;
  width: 250px;
  border-radius: 10px;
}

footer {
  text-align: center;
  color: #666;
  font-size: 0.9em;
  padding: 20px;
}

.logo {
  display: block;
  width: 60px;
  height: auto;
  vertical-align: middle;
  margin-left: 15px;
  animation: giroLogo 3s ease-in-out 1;
  transform-style: preserve-3d;
  cursor: pointer;
}

.logo:hover {
  animation: giroLogo 1.5s ease-in-out;
}

@keyframes giroLogo {
  0% {
     transform: rotateY(0deg);
}
100% {
     transform: rotateY(360deg);
}

}

thead,
tfoot {
  background-color: #2c5e77;
  color: white;
}

tbody {
  background-color: #e4f0f5;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td {
  text-align: center;
}
 
.barra {
  overflow: scroll;
  height: 100px;
}

body {
  font-family: 'pacifico', cursive;
}














