
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8ff; 
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  width: 80%;
  background-color: #f4eaff; 
  color: #333;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  background-color: #e0d4ff;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto 0 auto;
  width: fit-content;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  width: 80%;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

img {
  display: block;
  margin: 20px auto;
  width: 250px;
  border-radius: 10px;
}

footer {
  text-align: center;
  color: #666;
  font-size: 0.9em;
  padding: 20px;
}

.logo {
  width: 80px;
  vertical-align: middle;
  margin-left: 15px;
  animation: giroLogo 3s ease-in-out 1;
  transform-style: preserve-3d;
}

@keyframes giroLogo {
  0% {
     transform: rotateY(0deg);
}
100% {
     transform: rotateY(360deg);
}
}
  
 










