body {
    font-family:Arial,Helvetica,sans-serif;
    background-color: #f9f9fb;
    color: #333;
    margin: 0;
    padding: 0;
 }

 header {
    width:80%;
     background-color: #e6e0ff;
     color: #333;
     margin-right: 20px auto;
     padding: 20px;
     tex-align: center
     border-radius: 10px;
     box- shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
 }

 section {
    width:80%;
    background-color:white;
    margin-right: auto;
    margin-left: auto;
    border-color: black;
    border-style:solid;
    border-width:5px;
 }

nav ul{
   list-style-type: none;
   background-color: #d1c4ff;
   padding: 10px; 
   text-align: center;
   border-radius: 10px;
}

nav ul li {
  display: inline-block;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

    
img {
  display: block;
  margin: 20px auto; 
  border-radius: 8px;
  width: 250px;
}



 





